<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.ycy.javacode.business.demo.dao.ClctBillMapper">
  <resultMap id="BaseResultMap" type="pers.ycy.javacode.business.demo.entity.ClctBill">
    <id column="CLCT_BILL_ID" jdbcType="VARCHAR" property="clctBillId" />
    <result column="RID" jdbcType="VARCHAR" property="rid" />
    <result column="OPTINS_CODE" jdbcType="VARCHAR" property="optinsCode" />
    <result column="BIZ_SN" jdbcType="VARCHAR" property="bizSn" />
    <result column="PTCP_ID" jdbcType="VARCHAR" property="ptcpId" />
    <result column="EMP_ID" jdbcType="VARCHAR" property="empId" />
    <result column="PSN_ID" jdbcType="VARCHAR" property="psnId" />
    <result column="UNIF_CLCT_FLAG" jdbcType="VARCHAR" property="unifClctFlag" />
    <result column="EQL_CLCT_FLAG" jdbcType="VARCHAR" property="eqlClctFlag" />
    <result column="PTCP_CLCT_PLAN_EVT_ID" jdbcType="VARCHAR" property="ptcpClctPlanEvtId" />
    <result column="CLCT_BILL_TYPE" jdbcType="VARCHAR" property="clctBillType" />
    <result column="ACCRYM" jdbcType="VARCHAR" property="accrym" />
    <result column="EMP_CLCT_FLAG" jdbcType="VARCHAR" property="empClctFlag" />
    <result column="AMT" jdbcType="DOUBLE" property="amt" />
    <result column="CLCT_NOTC_REC_OBJ_ID" jdbcType="VARCHAR" property="clctNotcRecObjId" />
    <result column="CLCT_WAY" jdbcType="VARCHAR" property="clctWay" />
    <result column="PTCP_BANKACCT_ID" jdbcType="VARCHAR" property="ptcpBankacctId" />
    <result column="ACCTNAME" jdbcType="VARCHAR" property="acctname" />
    <result column="BANK_ACCT" jdbcType="VARCHAR" property="bankAcct" />
    <result column="CLCT_NOTC_DOCNO" jdbcType="VARCHAR" property="clctNotcDocno" />
    <result column="ARVL_TRAF_FLAG" jdbcType="VARCHAR" property="arvlTrafFlag" />
    <result column="ARVL_DATE" jdbcType="DATE" property="arvlDate" />
    <result column="BILL_SEND_BATCH" jdbcType="VARCHAR" property="billSendBatch" />
    <result column="SEND_OPTER" jdbcType="VARCHAR" property="sendOpter" />
    <result column="SEND_DATE" jdbcType="DATE" property="sendDate" />
    <result column="SEND_FLAG" jdbcType="VARCHAR" property="sendFlag" />
    <result column="RECHKER" jdbcType="VARCHAR" property="rechker" />
    <result column="RECHK_TIME" jdbcType="DATE" property="rechkTime" />
    <result column="inte" jdbcType="VARCHAR" property="inte" />
    <result column="GENA_BATCH" jdbcType="VARCHAR" property="genaBatch" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
    <result column="BANK_ID" jdbcType="VARCHAR" property="bankId" />
    <result column="INSUTYPE" jdbcType="VARCHAR" property="insutype" />
    <result column="ARVL_OPTER" jdbcType="VARCHAR" property="arvlOpter" />
    <result column="ACT_ARVL_AMT" jdbcType="DOUBLE" property="actArvlAmt" />
    <result column="EMP_RECB_AMT" jdbcType="DOUBLE" property="empRecbAmt" />
    <result column="PSN_RECB_AMT" jdbcType="DOUBLE" property="psnRecbAmt" />
    <result column="RECB_LATEFEE" jdbcType="DOUBLE" property="recbLatefee" />
    <result column="INTEREST" jdbcType="DOUBLE" property="interest" />
    <result column="EMP_ARRA_CANC_EVT_ID" jdbcType="VARCHAR" property="empArraCancEvtId" />
    <result column="CANC_FLAG" jdbcType="VARCHAR" property="cancFlag" />
    <result column="CANC_YM" jdbcType="DATE" property="cancYm" />
    <result column="PURPOSE" jdbcType="VARCHAR" property="purpose" />
    <result column="RECB_TYPE" jdbcType="VARCHAR" property="recbType" />
    <result column="CRTER" jdbcType="VARCHAR" property="crter" />
    <result column="CRTER_NAME" jdbcType="VARCHAR" property="crterName" />
    <result column="CRTE_TIME" jdbcType="TIMESTAMP" property="crteTime" />
    <result column="CRTE_OPTINS" jdbcType="VARCHAR" property="crteOptins" />
    <result column="OPTER" jdbcType="VARCHAR" property="opter" />
    <result column="OPTER_NAME" jdbcType="VARCHAR" property="opterName" />
    <result column="OPT_TIME" jdbcType="TIMESTAMP" property="optTime" />
    <result column="OPTINS" jdbcType="VARCHAR" property="optins" />
    <result column="POOLAREA" jdbcType="VARCHAR" property="poolarea" />
  </resultMap>
  <sql id="Base_Column_List">
    CLCT_BILL_ID, RID, OPTINS_CODE, BIZ_SN, PTCP_ID, EMP_ID, PSN_ID, UNIF_CLCT_FLAG, 
    EQL_CLCT_FLAG, PTCP_CLCT_PLAN_EVT_ID, CLCT_BILL_TYPE, ACCRYM, EMP_CLCT_FLAG, AMT, 
    CLCT_NOTC_REC_OBJ_ID, CLCT_WAY, PTCP_BANKACCT_ID, ACCTNAME, BANK_ACCT, CLCT_NOTC_DOCNO, 
    ARVL_TRAF_FLAG, ARVL_DATE, BILL_SEND_BATCH, SEND_OPTER, SEND_DATE, SEND_FLAG, RECHKER, 
    RECHK_TIME, inte, GENA_BATCH, MEMO, BANK_ID, INSUTYPE, ARVL_OPTER, ACT_ARVL_AMT, 
    EMP_RECB_AMT, PSN_RECB_AMT, RECB_LATEFEE, INTEREST, EMP_ARRA_CANC_EVT_ID, CANC_FLAG, 
    CANC_YM, PURPOSE, RECB_TYPE, CRTER, CRTER_NAME, CRTE_TIME, CRTE_OPTINS, OPTER, OPTER_NAME, 
    OPT_TIME, OPTINS, POOLAREA
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from clct_bill_b
    where CLCT_BILL_ID = #{clctBillId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from clct_bill_b
    where CLCT_BILL_ID = #{clctBillId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="pers.ycy.javacode.business.demo.entity.ClctBill">
    insert into clct_bill_b (CLCT_BILL_ID, RID, OPTINS_CODE, 
      BIZ_SN, PTCP_ID, EMP_ID, 
      PSN_ID, UNIF_CLCT_FLAG, EQL_CLCT_FLAG, 
      PTCP_CLCT_PLAN_EVT_ID, CLCT_BILL_TYPE, ACCRYM, 
      EMP_CLCT_FLAG, AMT, CLCT_NOTC_REC_OBJ_ID, 
      CLCT_WAY, PTCP_BANKACCT_ID, ACCTNAME, 
      BANK_ACCT, CLCT_NOTC_DOCNO, ARVL_TRAF_FLAG, 
      ARVL_DATE, BILL_SEND_BATCH, SEND_OPTER, 
      SEND_DATE, SEND_FLAG, RECHKER, 
      RECHK_TIME, inte, GENA_BATCH, 
      MEMO, BANK_ID, INSUTYPE, 
      ARVL_OPTER, ACT_ARVL_AMT, EMP_RECB_AMT, 
      PSN_RECB_AMT, RECB_LATEFEE, INTEREST, 
      EMP_ARRA_CANC_EVT_ID, CANC_FLAG, CANC_YM, 
      PURPOSE, RECB_TYPE, CRTER, 
      CRTER_NAME, CRTE_TIME, CRTE_OPTINS, 
      OPTER, OPTER_NAME, OPT_TIME, 
      OPTINS, POOLAREA)
    values (#{clctBillId,jdbcType=VARCHAR}, #{rid,jdbcType=VARCHAR}, #{optinsCode,jdbcType=VARCHAR}, 
      #{bizSn,jdbcType=VARCHAR}, #{ptcpId,jdbcType=VARCHAR}, #{empId,jdbcType=VARCHAR}, 
      #{psnId,jdbcType=VARCHAR}, #{unifClctFlag,jdbcType=VARCHAR}, #{eqlClctFlag,jdbcType=VARCHAR}, 
      #{ptcpClctPlanEvtId,jdbcType=VARCHAR}, #{clctBillType,jdbcType=VARCHAR}, #{accrym,jdbcType=VARCHAR}, 
      #{empClctFlag,jdbcType=VARCHAR}, #{amt,jdbcType=DOUBLE}, #{clctNotcRecObjId,jdbcType=VARCHAR}, 
      #{clctWay,jdbcType=VARCHAR}, #{ptcpBankacctId,jdbcType=VARCHAR}, #{acctname,jdbcType=VARCHAR}, 
      #{bankAcct,jdbcType=VARCHAR}, #{clctNotcDocno,jdbcType=VARCHAR}, #{arvlTrafFlag,jdbcType=VARCHAR}, 
      #{arvlDate,jdbcType=DATE}, #{billSendBatch,jdbcType=VARCHAR}, #{sendOpter,jdbcType=VARCHAR}, 
      #{sendDate,jdbcType=DATE}, #{sendFlag,jdbcType=VARCHAR}, #{rechker,jdbcType=VARCHAR}, 
      #{rechkTime,jdbcType=DATE}, #{inte,jdbcType=VARCHAR}, #{genaBatch,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR}, #{bankId,jdbcType=VARCHAR}, #{insutype,jdbcType=VARCHAR}, 
      #{arvlOpter,jdbcType=VARCHAR}, #{actArvlAmt,jdbcType=DOUBLE}, #{empRecbAmt,jdbcType=DOUBLE}, 
      #{psnRecbAmt,jdbcType=DOUBLE}, #{recbLatefee,jdbcType=DOUBLE}, #{interest,jdbcType=DOUBLE}, 
      #{empArraCancEvtId,jdbcType=VARCHAR}, #{cancFlag,jdbcType=VARCHAR}, #{cancYm,jdbcType=DATE}, 
      #{purpose,jdbcType=VARCHAR}, #{recbType,jdbcType=VARCHAR}, #{crter,jdbcType=VARCHAR}, 
      #{crterName,jdbcType=VARCHAR}, #{crteTime,jdbcType=TIMESTAMP}, #{crteOptins,jdbcType=VARCHAR}, 
      #{opter,jdbcType=VARCHAR}, #{opterName,jdbcType=VARCHAR}, #{optTime,jdbcType=TIMESTAMP}, 
      #{optins,jdbcType=VARCHAR}, #{poolarea,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="pers.ycy.javacode.business.demo.entity.ClctBill">
    insert into clct_bill_b
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="clctBillId != null">
        CLCT_BILL_ID,
      </if>
      <if test="rid != null">
        RID,
      </if>
      <if test="optinsCode != null">
        OPTINS_CODE,
      </if>
      <if test="bizSn != null">
        BIZ_SN,
      </if>
      <if test="ptcpId != null">
        PTCP_ID,
      </if>
      <if test="empId != null">
        EMP_ID,
      </if>
      <if test="psnId != null">
        PSN_ID,
      </if>
      <if test="unifClctFlag != null">
        UNIF_CLCT_FLAG,
      </if>
      <if test="eqlClctFlag != null">
        EQL_CLCT_FLAG,
      </if>
      <if test="ptcpClctPlanEvtId != null">
        PTCP_CLCT_PLAN_EVT_ID,
      </if>
      <if test="clctBillType != null">
        CLCT_BILL_TYPE,
      </if>
      <if test="accrym != null">
        ACCRYM,
      </if>
      <if test="empClctFlag != null">
        EMP_CLCT_FLAG,
      </if>
      <if test="amt != null">
        AMT,
      </if>
      <if test="clctNotcRecObjId != null">
        CLCT_NOTC_REC_OBJ_ID,
      </if>
      <if test="clctWay != null">
        CLCT_WAY,
      </if>
      <if test="ptcpBankacctId != null">
        PTCP_BANKACCT_ID,
      </if>
      <if test="acctname != null">
        ACCTNAME,
      </if>
      <if test="bankAcct != null">
        BANK_ACCT,
      </if>
      <if test="clctNotcDocno != null">
        CLCT_NOTC_DOCNO,
      </if>
      <if test="arvlTrafFlag != null">
        ARVL_TRAF_FLAG,
      </if>
      <if test="arvlDate != null">
        ARVL_DATE,
      </if>
      <if test="billSendBatch != null">
        BILL_SEND_BATCH,
      </if>
      <if test="sendOpter != null">
        SEND_OPTER,
      </if>
      <if test="sendDate != null">
        SEND_DATE,
      </if>
      <if test="sendFlag != null">
        SEND_FLAG,
      </if>
      <if test="rechker != null">
        RECHKER,
      </if>
      <if test="rechkTime != null">
        RECHK_TIME,
      </if>
      <if test="inte != null">
        inte,
      </if>
      <if test="genaBatch != null">
        GENA_BATCH,
      </if>
      <if test="memo != null">
        MEMO,
      </if>
      <if test="bankId != null">
        BANK_ID,
      </if>
      <if test="insutype != null">
        INSUTYPE,
      </if>
      <if test="arvlOpter != null">
        ARVL_OPTER,
      </if>
      <if test="actArvlAmt != null">
        ACT_ARVL_AMT,
      </if>
      <if test="empRecbAmt != null">
        EMP_RECB_AMT,
      </if>
      <if test="psnRecbAmt != null">
        PSN_RECB_AMT,
      </if>
      <if test="recbLatefee != null">
        RECB_LATEFEE,
      </if>
      <if test="interest != null">
        INTEREST,
      </if>
      <if test="empArraCancEvtId != null">
        EMP_ARRA_CANC_EVT_ID,
      </if>
      <if test="cancFlag != null">
        CANC_FLAG,
      </if>
      <if test="cancYm != null">
        CANC_YM,
      </if>
      <if test="purpose != null">
        PURPOSE,
      </if>
      <if test="recbType != null">
        RECB_TYPE,
      </if>
      <if test="crter != null">
        CRTER,
      </if>
      <if test="crterName != null">
        CRTER_NAME,
      </if>
      <if test="crteTime != null">
        CRTE_TIME,
      </if>
      <if test="crteOptins != null">
        CRTE_OPTINS,
      </if>
      <if test="opter != null">
        OPTER,
      </if>
      <if test="opterName != null">
        OPTER_NAME,
      </if>
      <if test="optTime != null">
        OPT_TIME,
      </if>
      <if test="optins != null">
        OPTINS,
      </if>
      <if test="poolarea != null">
        POOLAREA,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="clctBillId != null">
        #{clctBillId,jdbcType=VARCHAR},
      </if>
      <if test="rid != null">
        #{rid,jdbcType=VARCHAR},
      </if>
      <if test="optinsCode != null">
        #{optinsCode,jdbcType=VARCHAR},
      </if>
      <if test="bizSn != null">
        #{bizSn,jdbcType=VARCHAR},
      </if>
      <if test="ptcpId != null">
        #{ptcpId,jdbcType=VARCHAR},
      </if>
      <if test="empId != null">
        #{empId,jdbcType=VARCHAR},
      </if>
      <if test="psnId != null">
        #{psnId,jdbcType=VARCHAR},
      </if>
      <if test="unifClctFlag != null">
        #{unifClctFlag,jdbcType=VARCHAR},
      </if>
      <if test="eqlClctFlag != null">
        #{eqlClctFlag,jdbcType=VARCHAR},
      </if>
      <if test="ptcpClctPlanEvtId != null">
        #{ptcpClctPlanEvtId,jdbcType=VARCHAR},
      </if>
      <if test="clctBillType != null">
        #{clctBillType,jdbcType=VARCHAR},
      </if>
      <if test="accrym != null">
        #{accrym,jdbcType=VARCHAR},
      </if>
      <if test="empClctFlag != null">
        #{empClctFlag,jdbcType=VARCHAR},
      </if>
      <if test="amt != null">
        #{amt,jdbcType=DOUBLE},
      </if>
      <if test="clctNotcRecObjId != null">
        #{clctNotcRecObjId,jdbcType=VARCHAR},
      </if>
      <if test="clctWay != null">
        #{clctWay,jdbcType=VARCHAR},
      </if>
      <if test="ptcpBankacctId != null">
        #{ptcpBankacctId,jdbcType=VARCHAR},
      </if>
      <if test="acctname != null">
        #{acctname,jdbcType=VARCHAR},
      </if>
      <if test="bankAcct != null">
        #{bankAcct,jdbcType=VARCHAR},
      </if>
      <if test="clctNotcDocno != null">
        #{clctNotcDocno,jdbcType=VARCHAR},
      </if>
      <if test="arvlTrafFlag != null">
        #{arvlTrafFlag,jdbcType=VARCHAR},
      </if>
      <if test="arvlDate != null">
        #{arvlDate,jdbcType=DATE},
      </if>
      <if test="billSendBatch != null">
        #{billSendBatch,jdbcType=VARCHAR},
      </if>
      <if test="sendOpter != null">
        #{sendOpter,jdbcType=VARCHAR},
      </if>
      <if test="sendDate != null">
        #{sendDate,jdbcType=DATE},
      </if>
      <if test="sendFlag != null">
        #{sendFlag,jdbcType=VARCHAR},
      </if>
      <if test="rechker != null">
        #{rechker,jdbcType=VARCHAR},
      </if>
      <if test="rechkTime != null">
        #{rechkTime,jdbcType=DATE},
      </if>
      <if test="inte != null">
        #{inte,jdbcType=VARCHAR},
      </if>
      <if test="genaBatch != null">
        #{genaBatch,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null">
        #{bankId,jdbcType=VARCHAR},
      </if>
      <if test="insutype != null">
        #{insutype,jdbcType=VARCHAR},
      </if>
      <if test="arvlOpter != null">
        #{arvlOpter,jdbcType=VARCHAR},
      </if>
      <if test="actArvlAmt != null">
        #{actArvlAmt,jdbcType=DOUBLE},
      </if>
      <if test="empRecbAmt != null">
        #{empRecbAmt,jdbcType=DOUBLE},
      </if>
      <if test="psnRecbAmt != null">
        #{psnRecbAmt,jdbcType=DOUBLE},
      </if>
      <if test="recbLatefee != null">
        #{recbLatefee,jdbcType=DOUBLE},
      </if>
      <if test="interest != null">
        #{interest,jdbcType=DOUBLE},
      </if>
      <if test="empArraCancEvtId != null">
        #{empArraCancEvtId,jdbcType=VARCHAR},
      </if>
      <if test="cancFlag != null">
        #{cancFlag,jdbcType=VARCHAR},
      </if>
      <if test="cancYm != null">
        #{cancYm,jdbcType=DATE},
      </if>
      <if test="purpose != null">
        #{purpose,jdbcType=VARCHAR},
      </if>
      <if test="recbType != null">
        #{recbType,jdbcType=VARCHAR},
      </if>
      <if test="crter != null">
        #{crter,jdbcType=VARCHAR},
      </if>
      <if test="crterName != null">
        #{crterName,jdbcType=VARCHAR},
      </if>
      <if test="crteTime != null">
        #{crteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="crteOptins != null">
        #{crteOptins,jdbcType=VARCHAR},
      </if>
      <if test="opter != null">
        #{opter,jdbcType=VARCHAR},
      </if>
      <if test="opterName != null">
        #{opterName,jdbcType=VARCHAR},
      </if>
      <if test="optTime != null">
        #{optTime,jdbcType=TIMESTAMP},
      </if>
      <if test="optins != null">
        #{optins,jdbcType=VARCHAR},
      </if>
      <if test="poolarea != null">
        #{poolarea,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pers.ycy.javacode.business.demo.entity.ClctBill">
    update clct_bill_b
    <set>
      <if test="rid != null">
        RID = #{rid,jdbcType=VARCHAR},
      </if>
      <if test="optinsCode != null">
        OPTINS_CODE = #{optinsCode,jdbcType=VARCHAR},
      </if>
      <if test="bizSn != null">
        BIZ_SN = #{bizSn,jdbcType=VARCHAR},
      </if>
      <if test="ptcpId != null">
        PTCP_ID = #{ptcpId,jdbcType=VARCHAR},
      </if>
      <if test="empId != null">
        EMP_ID = #{empId,jdbcType=VARCHAR},
      </if>
      <if test="psnId != null">
        PSN_ID = #{psnId,jdbcType=VARCHAR},
      </if>
      <if test="unifClctFlag != null">
        UNIF_CLCT_FLAG = #{unifClctFlag,jdbcType=VARCHAR},
      </if>
      <if test="eqlClctFlag != null">
        EQL_CLCT_FLAG = #{eqlClctFlag,jdbcType=VARCHAR},
      </if>
      <if test="ptcpClctPlanEvtId != null">
        PTCP_CLCT_PLAN_EVT_ID = #{ptcpClctPlanEvtId,jdbcType=VARCHAR},
      </if>
      <if test="clctBillType != null">
        CLCT_BILL_TYPE = #{clctBillType,jdbcType=VARCHAR},
      </if>
      <if test="accrym != null">
        ACCRYM = #{accrym,jdbcType=VARCHAR},
      </if>
      <if test="empClctFlag != null">
        EMP_CLCT_FLAG = #{empClctFlag,jdbcType=VARCHAR},
      </if>
      <if test="amt != null">
        AMT = #{amt,jdbcType=DOUBLE},
      </if>
      <if test="clctNotcRecObjId != null">
        CLCT_NOTC_REC_OBJ_ID = #{clctNotcRecObjId,jdbcType=VARCHAR},
      </if>
      <if test="clctWay != null">
        CLCT_WAY = #{clctWay,jdbcType=VARCHAR},
      </if>
      <if test="ptcpBankacctId != null">
        PTCP_BANKACCT_ID = #{ptcpBankacctId,jdbcType=VARCHAR},
      </if>
      <if test="acctname != null">
        ACCTNAME = #{acctname,jdbcType=VARCHAR},
      </if>
      <if test="bankAcct != null">
        BANK_ACCT = #{bankAcct,jdbcType=VARCHAR},
      </if>
      <if test="clctNotcDocno != null">
        CLCT_NOTC_DOCNO = #{clctNotcDocno,jdbcType=VARCHAR},
      </if>
      <if test="arvlTrafFlag != null">
        ARVL_TRAF_FLAG = #{arvlTrafFlag,jdbcType=VARCHAR},
      </if>
      <if test="arvlDate != null">
        ARVL_DATE = #{arvlDate,jdbcType=DATE},
      </if>
      <if test="billSendBatch != null">
        BILL_SEND_BATCH = #{billSendBatch,jdbcType=VARCHAR},
      </if>
      <if test="sendOpter != null">
        SEND_OPTER = #{sendOpter,jdbcType=VARCHAR},
      </if>
      <if test="sendDate != null">
        SEND_DATE = #{sendDate,jdbcType=DATE},
      </if>
      <if test="sendFlag != null">
        SEND_FLAG = #{sendFlag,jdbcType=VARCHAR},
      </if>
      <if test="rechker != null">
        RECHKER = #{rechker,jdbcType=VARCHAR},
      </if>
      <if test="rechkTime != null">
        RECHK_TIME = #{rechkTime,jdbcType=DATE},
      </if>
      <if test="inte != null">
        inte = #{inte,jdbcType=VARCHAR},
      </if>
      <if test="genaBatch != null">
        GENA_BATCH = #{genaBatch,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null">
        BANK_ID = #{bankId,jdbcType=VARCHAR},
      </if>
      <if test="insutype != null">
        INSUTYPE = #{insutype,jdbcType=VARCHAR},
      </if>
      <if test="arvlOpter != null">
        ARVL_OPTER = #{arvlOpter,jdbcType=VARCHAR},
      </if>
      <if test="actArvlAmt != null">
        ACT_ARVL_AMT = #{actArvlAmt,jdbcType=DOUBLE},
      </if>
      <if test="empRecbAmt != null">
        EMP_RECB_AMT = #{empRecbAmt,jdbcType=DOUBLE},
      </if>
      <if test="psnRecbAmt != null">
        PSN_RECB_AMT = #{psnRecbAmt,jdbcType=DOUBLE},
      </if>
      <if test="recbLatefee != null">
        RECB_LATEFEE = #{recbLatefee,jdbcType=DOUBLE},
      </if>
      <if test="interest != null">
        INTEREST = #{interest,jdbcType=DOUBLE},
      </if>
      <if test="empArraCancEvtId != null">
        EMP_ARRA_CANC_EVT_ID = #{empArraCancEvtId,jdbcType=VARCHAR},
      </if>
      <if test="cancFlag != null">
        CANC_FLAG = #{cancFlag,jdbcType=VARCHAR},
      </if>
      <if test="cancYm != null">
        CANC_YM = #{cancYm,jdbcType=DATE},
      </if>
      <if test="purpose != null">
        PURPOSE = #{purpose,jdbcType=VARCHAR},
      </if>
      <if test="recbType != null">
        RECB_TYPE = #{recbType,jdbcType=VARCHAR},
      </if>
      <if test="crter != null">
        CRTER = #{crter,jdbcType=VARCHAR},
      </if>
      <if test="crterName != null">
        CRTER_NAME = #{crterName,jdbcType=VARCHAR},
      </if>
      <if test="crteTime != null">
        CRTE_TIME = #{crteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="crteOptins != null">
        CRTE_OPTINS = #{crteOptins,jdbcType=VARCHAR},
      </if>
      <if test="opter != null">
        OPTER = #{opter,jdbcType=VARCHAR},
      </if>
      <if test="opterName != null">
        OPTER_NAME = #{opterName,jdbcType=VARCHAR},
      </if>
      <if test="optTime != null">
        OPT_TIME = #{optTime,jdbcType=TIMESTAMP},
      </if>
      <if test="optins != null">
        OPTINS = #{optins,jdbcType=VARCHAR},
      </if>
      <if test="poolarea != null">
        POOLAREA = #{poolarea,jdbcType=VARCHAR},
      </if>
    </set>
    where CLCT_BILL_ID = #{clctBillId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="pers.ycy.javacode.business.demo.entity.ClctBill">
    update clct_bill_b
    set RID = #{rid,jdbcType=VARCHAR},
      OPTINS_CODE = #{optinsCode,jdbcType=VARCHAR},
      BIZ_SN = #{bizSn,jdbcType=VARCHAR},
      PTCP_ID = #{ptcpId,jdbcType=VARCHAR},
      EMP_ID = #{empId,jdbcType=VARCHAR},
      PSN_ID = #{psnId,jdbcType=VARCHAR},
      UNIF_CLCT_FLAG = #{unifClctFlag,jdbcType=VARCHAR},
      EQL_CLCT_FLAG = #{eqlClctFlag,jdbcType=VARCHAR},
      PTCP_CLCT_PLAN_EVT_ID = #{ptcpClctPlanEvtId,jdbcType=VARCHAR},
      CLCT_BILL_TYPE = #{clctBillType,jdbcType=VARCHAR},
      ACCRYM = #{accrym,jdbcType=VARCHAR},
      EMP_CLCT_FLAG = #{empClctFlag,jdbcType=VARCHAR},
      AMT = #{amt,jdbcType=DOUBLE},
      CLCT_NOTC_REC_OBJ_ID = #{clctNotcRecObjId,jdbcType=VARCHAR},
      CLCT_WAY = #{clctWay,jdbcType=VARCHAR},
      PTCP_BANKACCT_ID = #{ptcpBankacctId,jdbcType=VARCHAR},
      ACCTNAME = #{acctname,jdbcType=VARCHAR},
      BANK_ACCT = #{bankAcct,jdbcType=VARCHAR},
      CLCT_NOTC_DOCNO = #{clctNotcDocno,jdbcType=VARCHAR},
      ARVL_TRAF_FLAG = #{arvlTrafFlag,jdbcType=VARCHAR},
      ARVL_DATE = #{arvlDate,jdbcType=DATE},
      BILL_SEND_BATCH = #{billSendBatch,jdbcType=VARCHAR},
      SEND_OPTER = #{sendOpter,jdbcType=VARCHAR},
      SEND_DATE = #{sendDate,jdbcType=DATE},
      SEND_FLAG = #{sendFlag,jdbcType=VARCHAR},
      RECHKER = #{rechker,jdbcType=VARCHAR},
      RECHK_TIME = #{rechkTime,jdbcType=DATE},
      inte = #{inte,jdbcType=VARCHAR},
      GENA_BATCH = #{genaBatch,jdbcType=VARCHAR},
      MEMO = #{memo,jdbcType=VARCHAR},
      BANK_ID = #{bankId,jdbcType=VARCHAR},
      INSUTYPE = #{insutype,jdbcType=VARCHAR},
      ARVL_OPTER = #{arvlOpter,jdbcType=VARCHAR},
      ACT_ARVL_AMT = #{actArvlAmt,jdbcType=DOUBLE},
      EMP_RECB_AMT = #{empRecbAmt,jdbcType=DOUBLE},
      PSN_RECB_AMT = #{psnRecbAmt,jdbcType=DOUBLE},
      RECB_LATEFEE = #{recbLatefee,jdbcType=DOUBLE},
      INTEREST = #{interest,jdbcType=DOUBLE},
      EMP_ARRA_CANC_EVT_ID = #{empArraCancEvtId,jdbcType=VARCHAR},
      CANC_FLAG = #{cancFlag,jdbcType=VARCHAR},
      CANC_YM = #{cancYm,jdbcType=DATE},
      PURPOSE = #{purpose,jdbcType=VARCHAR},
      RECB_TYPE = #{recbType,jdbcType=VARCHAR},
      CRTER = #{crter,jdbcType=VARCHAR},
      CRTER_NAME = #{crterName,jdbcType=VARCHAR},
      CRTE_TIME = #{crteTime,jdbcType=TIMESTAMP},
      CRTE_OPTINS = #{crteOptins,jdbcType=VARCHAR},
      OPTER = #{opter,jdbcType=VARCHAR},
      OPTER_NAME = #{opterName,jdbcType=VARCHAR},
      OPT_TIME = #{optTime,jdbcType=TIMESTAMP},
      OPTINS = #{optins,jdbcType=VARCHAR},
      POOLAREA = #{poolarea,jdbcType=VARCHAR}
    where CLCT_BILL_ID = #{clctBillId,jdbcType=VARCHAR}
  </update>
  <sql id="base_query">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="null != clctBillId">
         and t.CLCT_BILL_ID = #{clctBillId,jdbcType=VARCHAR}
      </if>
      <if test="null != rid">
         and t.RID = #{rid,jdbcType=VARCHAR}
      </if>
      <if test="null != optinsCode">
         and t.OPTINS_CODE = #{optinsCode,jdbcType=VARCHAR}
      </if>
      <if test="null != bizSn">
         and t.BIZ_SN = #{bizSn,jdbcType=VARCHAR}
      </if>
      <if test="null != ptcpId">
         and t.PTCP_ID = #{ptcpId,jdbcType=VARCHAR}
      </if>
      <if test="null != empId">
         and t.EMP_ID = #{empId,jdbcType=VARCHAR}
      </if>
      <if test="null != psnId">
         and t.PSN_ID = #{psnId,jdbcType=VARCHAR}
      </if>
      <if test="null != unifClctFlag">
         and t.UNIF_CLCT_FLAG = #{unifClctFlag,jdbcType=VARCHAR}
      </if>
      <if test="null != eqlClctFlag">
         and t.EQL_CLCT_FLAG = #{eqlClctFlag,jdbcType=VARCHAR}
      </if>
      <if test="null != ptcpClctPlanEvtId">
         and t.PTCP_CLCT_PLAN_EVT_ID = #{ptcpClctPlanEvtId,jdbcType=VARCHAR}
      </if>
      <if test="null != clctBillType">
         and t.CLCT_BILL_TYPE = #{clctBillType,jdbcType=VARCHAR}
      </if>
      <if test="null != accrym">
         and t.ACCRYM = #{accrym,jdbcType=VARCHAR}
      </if>
      <if test="null != empClctFlag">
         and t.EMP_CLCT_FLAG = #{empClctFlag,jdbcType=VARCHAR}
      </if>
      <if test="null != amt">
         and t.AMT = #{amt,jdbcType=DOUBLE}
      </if>
      <if test="null != clctNotcRecObjId">
         and t.CLCT_NOTC_REC_OBJ_ID = #{clctNotcRecObjId,jdbcType=VARCHAR}
      </if>
      <if test="null != clctWay">
         and t.CLCT_WAY = #{clctWay,jdbcType=VARCHAR}
      </if>
      <if test="null != ptcpBankacctId">
         and t.PTCP_BANKACCT_ID = #{ptcpBankacctId,jdbcType=VARCHAR}
      </if>
      <if test="null != acctname">
         and t.ACCTNAME = #{acctname,jdbcType=VARCHAR}
      </if>
      <if test="null != bankAcct">
         and t.BANK_ACCT = #{bankAcct,jdbcType=VARCHAR}
      </if>
      <if test="null != clctNotcDocno">
         and t.CLCT_NOTC_DOCNO = #{clctNotcDocno,jdbcType=VARCHAR}
      </if>
      <if test="null != arvlTrafFlag">
         and t.ARVL_TRAF_FLAG = #{arvlTrafFlag,jdbcType=VARCHAR}
      </if>
      <if test="null != arvlDate">
         and t.ARVL_DATE = #{arvlDate,jdbcType=DATE}
      </if>
      <if test="null != billSendBatch">
         and t.BILL_SEND_BATCH = #{billSendBatch,jdbcType=VARCHAR}
      </if>
      <if test="null != sendOpter">
         and t.SEND_OPTER = #{sendOpter,jdbcType=VARCHAR}
      </if>
      <if test="null != sendDate">
         and t.SEND_DATE = #{sendDate,jdbcType=DATE}
      </if>
      <if test="null != sendFlag">
         and t.SEND_FLAG = #{sendFlag,jdbcType=VARCHAR}
      </if>
      <if test="null != rechker">
         and t.RECHKER = #{rechker,jdbcType=VARCHAR}
      </if>
      <if test="null != rechkTime">
         and t.RECHK_TIME = #{rechkTime,jdbcType=DATE}
      </if>
      <if test="null != inte">
         and t.inte = #{inte,jdbcType=VARCHAR}
      </if>
      <if test="null != genaBatch">
         and t.GENA_BATCH = #{genaBatch,jdbcType=VARCHAR}
      </if>
      <if test="null != memo">
         and t.MEMO = #{memo,jdbcType=VARCHAR}
      </if>
      <if test="null != bankId">
         and t.BANK_ID = #{bankId,jdbcType=VARCHAR}
      </if>
      <if test="null != insutype">
         and t.INSUTYPE = #{insutype,jdbcType=VARCHAR}
      </if>
      <if test="null != arvlOpter">
         and t.ARVL_OPTER = #{arvlOpter,jdbcType=VARCHAR}
      </if>
      <if test="null != actArvlAmt">
         and t.ACT_ARVL_AMT = #{actArvlAmt,jdbcType=DOUBLE}
      </if>
      <if test="null != empRecbAmt">
         and t.EMP_RECB_AMT = #{empRecbAmt,jdbcType=DOUBLE}
      </if>
      <if test="null != psnRecbAmt">
         and t.PSN_RECB_AMT = #{psnRecbAmt,jdbcType=DOUBLE}
      </if>
      <if test="null != recbLatefee">
         and t.RECB_LATEFEE = #{recbLatefee,jdbcType=DOUBLE}
      </if>
      <if test="null != interest">
         and t.INTEREST = #{interest,jdbcType=DOUBLE}
      </if>
      <if test="null != empArraCancEvtId">
         and t.EMP_ARRA_CANC_EVT_ID = #{empArraCancEvtId,jdbcType=VARCHAR}
      </if>
      <if test="null != cancFlag">
         and t.CANC_FLAG = #{cancFlag,jdbcType=VARCHAR}
      </if>
      <if test="null != cancYm">
         and t.CANC_YM = #{cancYm,jdbcType=DATE}
      </if>
      <if test="null != purpose">
         and t.PURPOSE = #{purpose,jdbcType=VARCHAR}
      </if>
      <if test="null != recbType">
         and t.RECB_TYPE = #{recbType,jdbcType=VARCHAR}
      </if>
      <if test="null != crter">
         and t.CRTER = #{crter,jdbcType=VARCHAR}
      </if>
      <if test="null != crterName">
         and t.CRTER_NAME = #{crterName,jdbcType=VARCHAR}
      </if>
      <if test="null != crteTime">
         and t.CRTE_TIME = #{crteTime,jdbcType=TIMESTAMP}
      </if>
      <if test="null != crteOptins">
         and t.CRTE_OPTINS = #{crteOptins,jdbcType=VARCHAR}
      </if>
      <if test="null != opter">
         and t.OPTER = #{opter,jdbcType=VARCHAR}
      </if>
      <if test="null != opterName">
         and t.OPTER_NAME = #{opterName,jdbcType=VARCHAR}
      </if>
      <if test="null != optTime">
         and t.OPT_TIME = #{optTime,jdbcType=TIMESTAMP}
      </if>
      <if test="null != optins">
         and t.OPTINS = #{optins,jdbcType=VARCHAR}
      </if>
      <if test="null != poolarea">
         and t.POOLAREA = #{poolarea,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <select id="queryList" parameterType="pers.ycy.javacode.business.demo.entity.ClctBill" resultMap="BaseResultMap">
    select * from clct_bill_b
    <include refid="base_query" />
  </select>
  <insert id="insertBatchSelective" parameterType="java.util.List">
    insert into clct_bill_b
    (
    <if test="clctBillId != null">
      CLCT_BILL_ID,
    </if>
    <if test="rid != null">
      RID,
    </if>
    <if test="optinsCode != null">
      OPTINS_CODE,
    </if>
    <if test="bizSn != null">
      BIZ_SN,
    </if>
    <if test="ptcpId != null">
      PTCP_ID,
    </if>
    <if test="empId != null">
      EMP_ID,
    </if>
    <if test="psnId != null">
      PSN_ID,
    </if>
    <if test="unifClctFlag != null">
      UNIF_CLCT_FLAG,
    </if>
    <if test="eqlClctFlag != null">
      EQL_CLCT_FLAG,
    </if>
    <if test="ptcpClctPlanEvtId != null">
      PTCP_CLCT_PLAN_EVT_ID,
    </if>
    <if test="clctBillType != null">
      CLCT_BILL_TYPE,
    </if>
    <if test="accrym != null">
      ACCRYM,
    </if>
    <if test="empClctFlag != null">
      EMP_CLCT_FLAG,
    </if>
    <if test="amt != null">
      AMT,
    </if>
    <if test="clctNotcRecObjId != null">
      CLCT_NOTC_REC_OBJ_ID,
    </if>
    <if test="clctWay != null">
      CLCT_WAY,
    </if>
    <if test="ptcpBankacctId != null">
      PTCP_BANKACCT_ID,
    </if>
    <if test="acctname != null">
      ACCTNAME,
    </if>
    <if test="bankAcct != null">
      BANK_ACCT,
    </if>
    <if test="clctNotcDocno != null">
      CLCT_NOTC_DOCNO,
    </if>
    <if test="arvlTrafFlag != null">
      ARVL_TRAF_FLAG,
    </if>
    <if test="arvlDate != null">
      ARVL_DATE,
    </if>
    <if test="billSendBatch != null">
      BILL_SEND_BATCH,
    </if>
    <if test="sendOpter != null">
      SEND_OPTER,
    </if>
    <if test="sendDate != null">
      SEND_DATE,
    </if>
    <if test="sendFlag != null">
      SEND_FLAG,
    </if>
    <if test="rechker != null">
      RECHKER,
    </if>
    <if test="rechkTime != null">
      RECHK_TIME,
    </if>
    <if test="inte != null">
      inte,
    </if>
    <if test="genaBatch != null">
      GENA_BATCH,
    </if>
    <if test="memo != null">
      MEMO,
    </if>
    <if test="bankId != null">
      BANK_ID,
    </if>
    <if test="insutype != null">
      INSUTYPE,
    </if>
    <if test="arvlOpter != null">
      ARVL_OPTER,
    </if>
    <if test="actArvlAmt != null">
      ACT_ARVL_AMT,
    </if>
    <if test="empRecbAmt != null">
      EMP_RECB_AMT,
    </if>
    <if test="psnRecbAmt != null">
      PSN_RECB_AMT,
    </if>
    <if test="recbLatefee != null">
      RECB_LATEFEE,
    </if>
    <if test="interest != null">
      INTEREST,
    </if>
    <if test="empArraCancEvtId != null">
      EMP_ARRA_CANC_EVT_ID,
    </if>
    <if test="cancFlag != null">
      CANC_FLAG,
    </if>
    <if test="cancYm != null">
      CANC_YM,
    </if>
    <if test="purpose != null">
      PURPOSE,
    </if>
    <if test="recbType != null">
      RECB_TYPE,
    </if>
    <if test="crter != null">
      CRTER,
    </if>
    <if test="crterName != null">
      CRTER_NAME,
    </if>
    <if test="crteTime != null">
      CRTE_TIME,
    </if>
    <if test="crteOptins != null">
      CRTE_OPTINS,
    </if>
    <if test="opter != null">
      OPTER,
    </if>
    <if test="opterName != null">
      OPTER_NAME,
    </if>
    <if test="optTime != null">
      OPT_TIME,
    </if>
    <if test="optins != null">
      OPTINS,
    </if>
    <if test="poolarea != null">
      POOLAREA,
    </if>
    )
    values 
    <foreach collection="list" index="index" item="item" separator=",">
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="item.clctBillId != null">
          #{item.clctBillId,jdbcType=VARCHAR},
        </if>
        <if test="item.rid != null">
          #{item.rid,jdbcType=VARCHAR},
        </if>
        <if test="item.optinsCode != null">
          #{item.optinsCode,jdbcType=VARCHAR},
        </if>
        <if test="item.bizSn != null">
          #{item.bizSn,jdbcType=VARCHAR},
        </if>
        <if test="item.ptcpId != null">
          #{item.ptcpId,jdbcType=VARCHAR},
        </if>
        <if test="item.empId != null">
          #{item.empId,jdbcType=VARCHAR},
        </if>
        <if test="item.psnId != null">
          #{item.psnId,jdbcType=VARCHAR},
        </if>
        <if test="item.unifClctFlag != null">
          #{item.unifClctFlag,jdbcType=VARCHAR},
        </if>
        <if test="item.eqlClctFlag != null">
          #{item.eqlClctFlag,jdbcType=VARCHAR},
        </if>
        <if test="item.ptcpClctPlanEvtId != null">
          #{item.ptcpClctPlanEvtId,jdbcType=VARCHAR},
        </if>
        <if test="item.clctBillType != null">
          #{item.clctBillType,jdbcType=VARCHAR},
        </if>
        <if test="item.accrym != null">
          #{item.accrym,jdbcType=VARCHAR},
        </if>
        <if test="item.empClctFlag != null">
          #{item.empClctFlag,jdbcType=VARCHAR},
        </if>
        <if test="item.amt != null">
          #{item.amt,jdbcType=DOUBLE},
        </if>
        <if test="item.clctNotcRecObjId != null">
          #{item.clctNotcRecObjId,jdbcType=VARCHAR},
        </if>
        <if test="item.clctWay != null">
          #{item.clctWay,jdbcType=VARCHAR},
        </if>
        <if test="item.ptcpBankacctId != null">
          #{item.ptcpBankacctId,jdbcType=VARCHAR},
        </if>
        <if test="item.acctname != null">
          #{item.acctname,jdbcType=VARCHAR},
        </if>
        <if test="item.bankAcct != null">
          #{item.bankAcct,jdbcType=VARCHAR},
        </if>
        <if test="item.clctNotcDocno != null">
          #{item.clctNotcDocno,jdbcType=VARCHAR},
        </if>
        <if test="item.arvlTrafFlag != null">
          #{item.arvlTrafFlag,jdbcType=VARCHAR},
        </if>
        <if test="item.arvlDate != null">
          #{item.arvlDate,jdbcType=DATE},
        </if>
        <if test="item.billSendBatch != null">
          #{item.billSendBatch,jdbcType=VARCHAR},
        </if>
        <if test="item.sendOpter != null">
          #{item.sendOpter,jdbcType=VARCHAR},
        </if>
        <if test="item.sendDate != null">
          #{item.sendDate,jdbcType=DATE},
        </if>
        <if test="item.sendFlag != null">
          #{item.sendFlag,jdbcType=VARCHAR},
        </if>
        <if test="item.rechker != null">
          #{item.rechker,jdbcType=VARCHAR},
        </if>
        <if test="item.rechkTime != null">
          #{item.rechkTime,jdbcType=DATE},
        </if>
        <if test="item.inte != null">
          #{item.inte,jdbcType=VARCHAR},
        </if>
        <if test="item.genaBatch != null">
          #{item.genaBatch,jdbcType=VARCHAR},
        </if>
        <if test="item.memo != null">
          #{item.memo,jdbcType=VARCHAR},
        </if>
        <if test="item.bankId != null">
          #{item.bankId,jdbcType=VARCHAR},
        </if>
        <if test="item.insutype != null">
          #{item.insutype,jdbcType=VARCHAR},
        </if>
        <if test="item.arvlOpter != null">
          #{item.arvlOpter,jdbcType=VARCHAR},
        </if>
        <if test="item.actArvlAmt != null">
          #{item.actArvlAmt,jdbcType=DOUBLE},
        </if>
        <if test="item.empRecbAmt != null">
          #{item.empRecbAmt,jdbcType=DOUBLE},
        </if>
        <if test="item.psnRecbAmt != null">
          #{item.psnRecbAmt,jdbcType=DOUBLE},
        </if>
        <if test="item.recbLatefee != null">
          #{item.recbLatefee,jdbcType=DOUBLE},
        </if>
        <if test="item.interest != null">
          #{item.interest,jdbcType=DOUBLE},
        </if>
        <if test="item.empArraCancEvtId != null">
          #{item.empArraCancEvtId,jdbcType=VARCHAR},
        </if>
        <if test="item.cancFlag != null">
          #{item.cancFlag,jdbcType=VARCHAR},
        </if>
        <if test="item.cancYm != null">
          #{item.cancYm,jdbcType=DATE},
        </if>
        <if test="item.purpose != null">
          #{item.purpose,jdbcType=VARCHAR},
        </if>
        <if test="item.recbType != null">
          #{item.recbType,jdbcType=VARCHAR},
        </if>
        <if test="item.crter != null">
          #{item.crter,jdbcType=VARCHAR},
        </if>
        <if test="item.crterName != null">
          #{item.crterName,jdbcType=VARCHAR},
        </if>
        <if test="item.crteTime != null">
          #{item.crteTime,jdbcType=TIMESTAMP},
        </if>
        <if test="item.crteOptins != null">
          #{item.crteOptins,jdbcType=VARCHAR},
        </if>
        <if test="item.opter != null">
          #{item.opter,jdbcType=VARCHAR},
        </if>
        <if test="item.opterName != null">
          #{item.opterName,jdbcType=VARCHAR},
        </if>
        <if test="item.optTime != null">
          #{item.optTime,jdbcType=TIMESTAMP},
        </if>
        <if test="item.optins != null">
          #{item.optins,jdbcType=VARCHAR},
        </if>
        <if test="item.poolarea != null">
          #{item.poolarea,jdbcType=VARCHAR},
        </if>
      </trim>
    </foreach>
  </insert>
</mapper>